@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent; /* 移除移動端點擊高亮 */
}

/* PWA Input Fixes for iOS */
input, textarea {
  -webkit-user-select: text !important;
  user-select: text !important;
  /* Ensure font size is at least 16px on mobile to prevent zooming */
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}
